
<div class="container d-flex flex-column" style="height: 100%; width: 100%">
  
    <div class="rounded-lg p-5 bg-body-tertiary" >
      <div id="title" class="d-flex mb-4">
        <h4 class="text-uppercase fw-bold mb-0">Update Password</h4>
        <div></div> <!-- Placeholder for spacing -->
      </div>
      <form #password="ngForm" (ngSubmit)="updatepassword(password)"  ngNativeValidate >
        <div class="form-group mb-3">
          <label class="form-check-label" for="oldpassword" > Old Password:</label>
          <input id="oldpassword" class="form-control rounded-lg py-3" ngModel name="OldPassword" required type="password" placeholder="Old Password" />
        </div>
        <div class="form-group mb-3">
            <label class="form-check-label" for="NewPassword" > New Password:</label>
            <input id="NewPassword" class="form-control rounded-lg py-3" ngModel name="NewPassword" required type="password" placeholder="New Password" />
          </div>
       
          <div class="form-group mb-3">
            <label class="form-check-label" for="ConfirmNewPassword" > Confirm New Password:</label>
            <input id="ConfirmNewPassword" class="form-control rounded-lg py-3" ngModel name="ConfirmNewPassword" required type="password" placeholder="New Password" />
          </div>
       
        <div>
            <div id="title" class="d-flex mb-4">
                 <!-- HTML !-->
             <!-- HTML !-->
             <button type="submit" class="button-29" role="button"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></button>
        
                <div></div> <!-- Placeholder for spacing -->
              </div>
        </div>
      </form>
    </div>
  </div>
  