<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Wiki items</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
              <li  *ngFor="let item of wikiitems" class="list-group-item" (click)="sendData(item['wikis'],item['nom_item'])"> {{item["nom_item"]}}</li>
            </ul>
          </div>	
	</div>  
</ng-template>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button  id="button" (click)="openEnd(content)" class="btn btn-primary me-md-2" type="button"  ngbPopover="With this button, you can view all items of the wiki"
    [openDelay]="10"
    [closeDelay]="50"
    triggers="mouseenter:mouseleave"><i class="fa fa-sitemap fa-2x" aria-hidden="true"></i></button>
</div>



<div   *ngIf="versionwikis.length>0">
   <h2>{{nameItem}}</h2>
<hr>
<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Creation date</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let version of versionwikis">
    <th scope="row">{{version.id}}</th>
    <td>
      {{ version.dateAjout | date:'dd/MM/yyyy HH:mm:ss' }}
    </td>

	<td ><i id="action"  class="fa fa-eye fa-2x" ngbPopover="With this button, you can see this version"
		[openDelay]="100"
		[closeDelay]="200"
		triggers="mouseenter:mouseleave" aria-hidden="true" (click)="showMoreinformation(version.id)"></i>

    <i  id="action" class="fa fa-html5 fa-2x" style="margin-left: 10px;" aria-hidden="true" ngbPopover="With this button, you can export this wiki version."
		[openDelay]="100"
		[closeDelay]="200"
		triggers="mouseenter:mouseleave" aria-hidden="true" (click)="exporter(version.id,version.contenu)"></i>
 

    <i  id="action" class="fa fa-undo fa-2x" style="margin-left: 10px;" aria-hidden="true" ngbPopover="With this button, you can retrieve this wiki version."
		[openDelay]="100"
		[closeDelay]="200"
		triggers="mouseenter:mouseleave" aria-hidden="true" (click)="updatedate(version.id,version.contenu)"></i>
    
  </td>
  
  </tr>

  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshwikis()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshwikis()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
</div>