
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button  id="button" (click)="openModalForum()"  class="btn btn-primary me-md-2" type="button"  ngbPopover="With this button, you can communicate with our chatbot."
  [openDelay]="10"
  [closeDelay]="50"
  triggers="mouseenter:mouseleave"><i class="fa fa-comments fa-2x" aria-hidden="true"></i></button>
</div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>Nous proposons <em>trois services</em> pour améliorer votre connaissance d'Ansys Fluent.</h4> 
            <img src="assets/images/heading-line-dec.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">lorem</span>
            <h4>Wiki</h4>
            <div class="icon">
              <img src="assets/images/wiki.gif" alt="">
            </div>
         
            <div class="border-button">
              <a routerLink="/consulterwiki">Bibliothèque de Savoir</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-pro">
            <span class="price">lorem</span>
            <h4>Forum</h4>
            <div class="icon">
              <img src="assets/images/forum.gif" alt="">
            </div>
        
            <div class="border-button">
              <a routerLink="/forum">Communauté et Dialogue</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <span class="price">lorem</span>
            <h4>ChatBot</h4>
            <div class="icon">
              <img src="assets/images/chatbot.gif" alt="">
            </div>
         
            <div class="border-button">
              <a (click)="openModalForum()">Assistance Instantanée</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
<br>
<br>
<br>